include LICENSE
include README.rst
include requirements.txt
recursive-include galaxy/static *
recursive-include galaxy/templates *
recursive-include galaxy/tests/data *
recursive-include galaxy/tests *